@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    }

   *{
        font-family: 'NanumSquareNeo-Variable';
    }

    body {
        line-height: 1.6;
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
    }

    header{
        top: 0;
        left: 0;
        right: 0;
        color: #fff;
        text-align: center;
        padding: 1rem;
        max-height: 50px;
        margin: 0 auto; 
        display: flex;
        align-items: center;
        background: linear-gradient(to bottom, #20202a, #13131c);
        position: fixed;
    }

    .content{
        height: 82px;
        width: 100%;
    }

    .logo {
        display: flex;
        max-height: 62px;
        padding: 10px;
        padding-right: 80px;
        border-radius: 2px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* 부드러운 그림자 */
    }

    .logo h1{
        position: relative;
        bottom : 17px;
        left : 25px
    }

    .user_info{
        width: 100%;
        height: 41px;
        display: flex;
    }

    #user_name{
        position: relative;
        align-items: center; /* 가운데 정렬 */
        font-size: 12px;
        float: left;
        display: flex;
    }

    .main_menu{
        width: 100%;
        height: 41px;
        display: flex;
        gap: 2.5rem;
        left : 25px;
        position: relative;
    }

    .main_menu a{
        text-decoration: none;
        list-style: none;
        color: #fff;
    }
    .main_menu li{
        text-decoration: none;
        font-size: 16px;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 설정 */
    }

    .search_customer {
        font-size: 14px;
        color: #000;
        height: 60px;   /* 원하는 높이 */
        width: calc(100%-190px);  /* 원하는 넓이 */
        background-color: #efefef; /* 배경 색상 */
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-top: 82px; /* header의 높이만큼 공간을 만들어주기 위한 마진 */
    }

    .info_customer {
        position: absolute; /* 위치를 조정하기 위해 절대 위치로 변경 */
        top: 82px; /* 헤더 높이만큼 아래로 이동 */
        left: 0; /* 왼쪽에 배치 */
        bottom: 0; /* 아래쪽 정렬을 위해 bottom 값을 0으로 설정 */
        width: 190px; /* 너비는 그대로 유지 */
        background-color: #efefef;
        z-index: 1; /* 다른 요소 위에 배치하기 위해 z-index 설정 */
    }

    nav {
        width: calc(100% - 190px); /* 100%에서 aside 너비 빼기 */
        float: right; /* 왼쪽으로 플로팅하여 배치 */
    }

    .container {
        top : 142px;
        width: calc(100% - 190px); /* 전체 너비에서 aside 너비 빼기 */
        height : calc(100% - 142px);
        margin-left: 190px; /* aside 너비만큼 왼쪽 여백 추가 */
        display: flex;
        flex-direction: column; /* 내용을 세로 열로 정렬 */
        align-items: flex-start; /* 내용을 왼쪽에 정렬 */
        justify-content: flex-start; /* 내용을 상단에 정렬 */
    }

    #register_customer_header{
        height: 60px;
        background-color: #00b646;
        text-align: center;
        display: flex;
        flex-direction: column; /* 내용을 세로 열로 정렬 */
        align-items: center; /* 내용을 왼쪽에 정렬 */
        justify-content: center; /* 내용을 상단에 정렬 */
    }

    #register_customer_header span{
        text-align: center;
        color : #fff
    }

    #cus-search {
        width: 95px; /* 원하는 너비설정 */
        padding: .3em .4em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 0px; /* iOS 둥근모서리 제거 */
    }

    #cus-search-text {
        width: 130px; /* 원하는 너비설정 */
        padding: .3em .4em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 0px; /* iOS 둥근모서리 제거 */
    }

    #cus-submit {
        width: 60px; /* 원하는 너비설정 */
        padding: .3em .4em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 0px; /* iOS 둥근모서리 제거 */
    }
    
    #register_customer_body{
        height: 200px;
        background-color: #efefef;
        text-align: center;
        font-size: 14px;
        gap: 5px;
        display: flex;
        flex-direction: column; /* 세로 정렬을 위해 column 방향 설정 */
        justify-content: center; /* 세로 가운데 정렬 */
        align-items: center; /* 가로 가운데 정렬 */
    }

    #cus-register-name{
        width: 70px; /* 원하는 너비설정 */
        height: 15px;
        padding: .3em .4em; /* 여백으로 높이 설정 */
        border: 1px solid #999;
        border-radius: 0px; /* iOS 둥근모서리 제거 */
    }

    #cus-gender{
        width: 38px; /* 원하는 너비설정 */
        height: 25px;

    }

    #cus-register-tel{
        width: 90px; /* 원하는 너비설정 */
        height: 19px;
    }